.experience {
  padding-top: 120px;
  padding-bottom: 120px;

  @media (max-width: #{$md1}px) {
    padding-top: 160px;
	}
  @media (max-width: #{$md2}px) {
    padding-top: 120px;
	}
  @media (max-width: #{$md3}px) {
    padding-top: 80px;
	}
}
.experience__content {
  position: relative;
}
.experience__chapter {}
.chapter-experience {}
