main{
  position: relative;
  min-height: 100vh;
}
.glow-projects{
  width: 600px;
  height: 100vh;
  background: #5e0de0;
  position: absolute;
  top: 50%;
  left: -10%;
  opacity: 0.7;
  transform: translate(-50%,-100%);
  z-index: -1;
  filter: blur(300px);
  animation: 2s linear infinite alternate-reverse breath;
  @media (max-width:1300px) {
    top: 10%;
  }
  @media (max-width:992px) {
    display: none;
  }
}

@keyframes breath {
  0%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.6;
  }
  100%{
    opacity: 0.8;
  }
}


.projects{
  --iconBgColor:#FD1284;
  --iconBgColor2:#FD123D;
  &__content{
    padding-top: 120px;
    display: flex;
    gap: 40px;
    @media (max-width:992px) {
      flex-direction: column;
      padding-top: 70px;
      gap: 20px;
    }
    @media (max-width:768px) {
      padding-top: 60px;
      gap: 10px;
      padding-bottom: 90px;
    }
  }
  &__icon-code{
      padding: 8px 12px;
      height: 32px;
      min-width: 130px;
      background: #FD1284;
      border-radius: 8px;
      font-size: 12px;
      font-weight: 700;
      display: inline-flex;
      align-items:center;
      justify-content:center;
      box-shadow:0px 0px 20px 5px rgba($color: #FD1284, $alpha: 0.5);
      color: #fff;
      margin-bottom: 16px;
      span{
        margin-left: 12px;
      }
  }

  &__main{
    max-width: 860px;
    min-width: 860px;
    height: 650px;
    background: rgba($color: #656565, $alpha: 0.1);
    padding: 16px;
    border-radius: 16px;
    border: 2px solid #1A1D24;
    overflow: hidden;
    animation: leftBlock ease-out 0.8s forwards;
    @media (max-width:1300px) {
      min-width:auto;
    }
    @media (max-width:992px) {
      animation: upBlock ease-out 0.8s forwards;
    }
  }

  &__content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width:992px) {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
  &__bestcase{
    @media (max-width:992px) {
      margin-top: 10px;
    }
  }

  &__bestcase-title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 6px;
    margin-bottom: 20px;
    animation: scaleUp 0.5s ease forwards;
  }

  &__tabs-controls{
    display: flex;
    align-items:center;
    gap: 12px;
    padding: 5px;
    border-radius:16px;
    margin-bottom: 16px;

  @media (max-width:600px) {
      overflow-x: auto;
      overflow-y: visible;
    }
  }

  &__tab-control{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
    // border:1px solid #fff;
    padding: 4px 8px;
    border-radius:8px;
    white-space: nowrap;
    &.active{
font-weight: 700;
      border-color: #FD1284;
      background: #FD1284;
       box-shadow:0px 0px 20px 5px rgba($color: #FD1284, $alpha: 0.5);

    }
  }
  &__content-list{
    padding: 10px 10px 10px 10px; 
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      // border: 1px solid orange;
      border-radius: 5px;
      background: var(--scrollbar-thumb-bg);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 5px;
    }
  }
  &__list{
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

  }
}

@keyframes leftBlock {
  0%{
   transform: translate(50px,0px);
   opacity: 0;
  }100%{
    transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes upBlock {
  0%{
   transform: translate(0,50px);
   opacity: 0;
  }100%{
    transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
