.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom:1px solid var(--main-border-bg);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  
  @media (max-width: #{$md3}px) {
    padding: 10px 10px;
  }

  @media (max-width: 600px) {
    gap: 30px;
  }
}
._container {
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0px 8px;
  transform: translate(-10px,0px);
  position: relative;
  cursor: pointer;
  color: var(--main-text);

  &.active{
  color: #03e9f4;
  &:after{
  content:"";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  }

  }


}
.logo {
}
.logo__title {
  font-size: 34px;
  font-weight: 700;
  transition: all .3s;
}
.logo__title a{
  color:var(--main-text);
  font-size: 24px;

  @media (max-width: #{$md3}px) {
    font-size: 16px;
    vertical-align: middle;
    display: none;

  }
}
.logo__title:hover a{
  background: #{$mainBackgroundGradient}; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  transition: all .3s;
}


.logo__link{
  color:var(--main-text);
}
.logo__icon {
}

.logo__icon-path {
  fill: var(--main-text); 
  transition: fill 0.3s ease;
}

.logo__icon-svg:hover .logo__icon-path {
  @media (min-width:768px){
    fill: url(#hover-gradient);
    transition: fill 0.3s ease; 
  }
}
.tg{
  @media (max-width: #{$md3}px) {
    width: 48px;
    height: 48px;
  }
}
.tg .logo__icon-path{
  @media (max-width:768px){
    fill: url(#black-gray-gradient);
  }
  
}
.tg:hover .logo__icon-path{
  fill: url(#black-gray-gradient);
  transition: fill 0.3s ease; 
}
.header__menu {
  @media (max-width: #{$md3}px) {
    display: none;
  }
}
.header__list {
  display: flex;
  gap: 0px 32px;

  @media (max-width: #{$md2}px) {
    gap: 0px 16px;
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;

  }
}
.header__item {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  cursor: pointer;

  @media (max-width: 600px) {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0px; 

  }

  &.active{
    background: #{$mainBackgroundGradient}; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
  }
}
.header__item::before{
  content:'';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #{$mainBackgroundGradient};
  position: absolute;
  bottom: -16px;
  left: 0;
  opacity: 0;
  transition: all .3s;
  
}

.header__item:hover .header__link{
  @media (min-width:768px){
    background: #{$mainBackgroundGradient}; /* Задаем градиент */
    -webkit-background-clip: text; /* Используем градиент как заливку для текста */
    -webkit-text-fill-color: transparent; /* Делаем текст прозрачным, чтобы был виден только градиент */
  }  
}
.header__link{
  color:var(--main-text);
  transition: all .3s;
  @media (max-width: #{$md3}px) {
    padding: 10px 0px;
  }
  
}
.btn{
  color: var(--main-text);
  width: 140px;
  padding: 10px 0px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  line-height: 24px;
  font-size: 20px;
}

.theme-switch {
  width: 40px;
  height: 20px;
  border: 1px solid var(--main-border-bg);
  border-radius: 16px;
  display: flex;
  align-items:center;
  cursor: pointer;
    &.switch{
      .theme-switch__circle {
        transform: translate(0px,0px);
        transition: .3s all;
      }
    }
}

.theme-switch__circle {
    transform: translate(20px,0px);
    margin-left: 2px;
    width: 14px;
    height: 14px;
    background:#{$mainBackgroundGradient};
    border-radius: 50%;
    transition: .3s all;
    display: flex;
    align-items:center;
    justify-content: center;
    color:#e1e8f0;
}
.header__options{
  display: flex;
  align-items:center;
  gap: 20px;
}
.header__social{
  display: flex;
  align-items:center;
  gap: 16px;
  border-left: 1px solid var(--main-border-bg);
  padding-left: 20px;
}
.git-social-link-icon{
  color:red;
  width: 20px;
  height: 20px;
  fill: var(--main-icons);
  transition: .3s all;
  &:hover{
    fill: var(--main-icons-hover);
  }
}
.tg-social-link-icon{
  width: 20px;
  height: 20px;
  fill: var(--main-icons);
    transition: .3s all;
    &:hover{
    fill: var(--main-icons-hover);
  }
}

.locales-btn-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: var(--main-icons);
    transition: .3s all;
    &:hover{
    fill: var(--main-icons-hover);
  }
}
.header__locales-btn{
  border-left:1px solid var(--main-border-bg);
  border-right:1px solid var(--main-border-bg);
  padding: 0px 10px;

  &.active{

    .locales-btn-icon{
      fill:#03e9f4;
    }
  }
}