.sidebar-view{
  width: 250px;
  height: 300px;
  background: rgba($color: #656565, $alpha: 0.1);
  border-radius: 16px;
  border: 2px solid #1A1D24;
  padding: 20px;
  animation: upBlock ease-out 0.8s forwards;
  &__name-project{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 6px;
    animation: fade ease-out 0.25s forwards;
  }
  &__type-project{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
    animation: fade ease-out 0.25s forwards;
  }
  &__descr-project{
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 34px;
    animation: fade ease-out 0.25s forwards;

  @media (max-width:992px) {
     margin-bottom: 14px;
  }
  }
  &__technology-list{
    display: flex;
    gap: 10px;
    animation: fade ease-out 0.25s forwards;
    
  }
  &__technology-item{
    width: 24px;
    height: 24px;
    img{
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width:992px) {
    width: 100%;
      max-width: 750px;
      margin: 0 auto;
      height: 160px;
      // position: fixed;
      top: 60px;
      z-index: 1;
      animation: downBlock ease-out 0.8s forwards;
  }
  @media (max-width:768px) {
      width: 100%;
      height: 180px;
  }
  @media (max-width:400px) {
      width: 100%;
      height: 190px;
  }
}

@keyframes upBlock {
  0%{
   transform: translate(0,50px);
   opacity: 0.4;
  }100%{
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes downBlock {
  0%{
   transform: translate(0,-50px);
   opacity: 0.4;
  }100%{
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}