.theme-light{
 --main-bg:#f8f9fa ;
 --main-text:#1a2634;
 --main-icons:#37474f ;
 --main-icons-hover:#556770 ;
 --main-border-bg:#ccc;
 --neon-btn-color:#e1e8f0;
 --neon-btn-bg:#03e9f4;
 --neon-btn-shadow:transparent;
 --animation-neon:none;
 --scrollbar-thumb-bg:#556770;

 // projects
 --projects-content-bg:#fff;
--mobile-menu-bg:rgba(255, 255, 255, 0.5);
--mobile-menu-item-active:#036bf4;
--mobile-menu-shadow:0px 15px 45px 1px rgb(22, 22, 22);

 
 
}


.theme-dark{
  --main-bg:#03050a;
  --main-text:#fff;
  --main-icons:#bbb ;
  --main-icons-hover:#fff ;
  --main-border-bg:#1a1d24;
  --neon-btn-color:#0f0f0f;
  --neon-btn-bg:#1a2634;
  --neon-btn-shadow:#03e9f4;
  --animation-neon:neon 5s ease-in-out infinite alternate;
  --scrollbar-thumb-bg:#1a2634;

  // projects
 --projects-content-bg:rgba(101, 101, 101, 0.1);
 --mobile-menu-bg:rgba(34, 33, 33, 0.5);
 --mobile-menu-item-active:#00eeff;
 --mobile-menu-shadow:0px 15px 45px 1px #121213;

}