.experience__item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  @media (max-width: #{$md2}px) {
    flex-direction: row-reverse;
	}
}
.experience__item-reverse{
  flex-direction: row-reverse;
}
.experience__item-1{

    .item-experience__info.info-experience-reverse{
      transition-delay: 1s;
    }
    .item-experience__info.info-experience-reverse.active{
      transform: translate(0px,0);
    }
    .test::after{
        content: '';
        transition-delay: 1s;
    }
    .item-experience__year {
      transition-delay: 1s;
    }
  
}
.item-experience__info {
  opacity: 0;
  transform: translate(-300px,0);
  transition: all 2s;
  @media (max-width: #{$md2}px) {
    margin-bottom: 20px;
    transform: translate(100px,0);
  }
}

.item-experience__info.active{
  transform: translate(0,0);
  opacity: 1;
}
.item-experience__info.info-experience-reverse{
  transform: translate(300px,0);
}
.item-experience__info.info-experience-reverse.active{
  transform: translate(0,0);
}

.info-experience {
  flex: 0 0 45%;
  padding: 25px 45px 25px 45px;
  background: white;
  box-shadow: 0 10px 40px rgba(100, 100, 255, 0.15);
  color: black;
  border-radius: 8px;
  @media (max-width: #{$md1}px) {
    padding: 25px 45px 25px 45px;
  }
  @media (max-width: #{$md2}px) {
    flex: 0 0 80%;
  }
  @media (max-width: #{$md3}px) {
    padding: 20px 10px 20px 40px;
  }
}
.info-experience-reverse{
  left: 100px;
  right: 0;
}
.info-experience__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: -22px;
  @media (max-width: #{$md3}px) {
    font-size: 16px;
	}
}
.info-experience__subtitle{
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: -22px;
}
.info-experience__item {
  font-size: 16px;
  line-height: 24px;
  position: relative;
  @media (max-width: #{$md3}px) {
    font-size: 13px;
	}

}

.info-experience__item::before{
  content:'';
  position: absolute;
  top: 9px;
  left: -15px;
  width: 5px; 
  height: 5px;
  background-color: #000000; 
  border-radius: 50%; 
}

.test{
  display: flex;
  justify-content: center;
  flex: 0 0 10%;
  opacity: 1;
  transition: all 1s;
  opacity: 1;
}
.test{
opacity: 1;
}

.test::after{
  content: '';
  display: inline-block;
  width: 2px;
  height: 0;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: -1;
  transition: height 1.2s;

  @media (max-width: #{$md2}px) {
    left: 10%;
  }
  
}

.test.active2::after{
  content: '';
  display: inline-block;
  width: 2px;
  height: calc(100% - 64px);
  background-color: #03e9f4;
  box-shadow:0px 0px 5px 0px #03e9f4;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,64px);
  z-index: -1;
  @media (max-width: #{$md2}px) {
    left: 32px;
  }
  @media (max-width: 500px) {
    left: 27px;
    height: calc(100% - 56px);
    transform: translate(-50%,56px);
  }
}
.test.active{
  opacity: 1;
}
.test2{
  display: flex;
  justify-content: center;
}
.item-experience__img {
  opacity: 0;
  overflow: hidden;
  padding: 14px;
  border: 2px solid #03e9f4;
  box-shadow:0px 0px 5px 0px #03e9f4;
  transition: all 4s;
  border-radius: 50%;
  background: var(--main-bg);
  position: relative;
  display: block;
  @media (max-width: 500px) {
    padding: 10px;
  }
  svg{
    color: var(--main-text);
  }
}
.item-experience__img.active{
  opacity: 1;
}

.item-experience__img img{

  @media (max-width: 500px) {
    height: 26px;
    width: 26px;
  }
}

.item-experience__year {
  padding-top: 30px;
  font-size: 16px;
  width: 100px;
  flex: 0 0 45%;
  opacity: 0;
  transform: translate(100px,0);
  transition: all 1.2s;
  @media (max-width: #{$md2}px) {
    display: none;
  }
}

.item-experience__year.active{
  opacity: 1;
  transform: translate(0,0);
}

.info-experience__year{
  display: none;

  @media (max-width: #{$md2}px) {
    display: block;
    margin-top: 20px;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 700;
  }
}
.item-experience__year-reverse{
  opacity: 0;
  transform: translate(-100px,0);
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  @media (max-width: #{$md2}px) {
    display: none;
  }
}
.item-experience__year.item-experience__year-reverse.active{
  opacity: 1;
  transform: translate(0,0);
}
.item-experience__reverse{
  right: 80px;
  width: 100%;
}

.theme-light{
  .item-experience__img{
    box-shadow:none;
  }
  .test.active2::after{
    box-shadow:none;
  }
  .info-experience{
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  }
}